
div {
    display: inline-block;
    background-color: black;
    /*margin: 50px;*/
    width: 100px;
    height:100px;
    margin-top: 50px;
    margin-left: 50px


}

.red {
    display: block;
    background-color: red;
    width: 350px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
}

.blue {
    display: block;
    background-color: blue;
    width: 350px;
    height: 200px;
    margin-top: 0;
    margin-left: 0;
}

body {
    margin: 0;
}
